<section class="section-main">
<header class="img-container">
  <img src="assets/img/AnnaDrawing3.jpeg" alt="Sketches made by Anna Muravska">
</header>
<div class="aboutus-title">
  <h2>About us</h2>
</div>
<div class="container-content">
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt ipsum neque deleniti ipsam laudantium accusantium maxime nemo distinctio magni exercitationem consequatur sint dolores libero, vel magnam? Libero, laudantium accusantium?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae possimus accusamus cumque ut harum eveniet, ex illo exercitationem tenetur. Voluptate ullam a alias facere minima dolore quaerat adipisci nisi molestias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ea, culpa explicabo numquam quidem ducimus, suscipit temporibus ipsam dicta adipisci vel perferendis debitis esse cum! Et aut aspernatur consequatur dolore?
  </h3>
  <div class="container-image-text">
    <img src="assets/img/AnnaPainting42.jpeg" alt="Anna Muravska Painting SunFlower">
  </div>
</div>

</section>