<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Static/styles.css" />
    <title>Welcome to Arthou</title>
  </head>
  <body>
    <header class="header-flex" id="header">
      <nav class="container-nav">
        <div class="container-1-logo"><span>Ar</span>thou</div>
        <div class="container-2">
          <a href="#" id="Arthou-Header-Font">Arthou</a>
          <a href="#">Explore</a>
          <a href="#">New here?</a>
          <a href="#">About Us</a>
        </div>
        <div class="container-3">
          <a href="#">Log in</a>
          <a href="#" class="button">Sing in</a>
        </div>
      </nav>
    </header>

    <section class="section-main">
      <div class="text">
        <h1><span>Arthou</span> does it for you!</h1>
        <p>Share your art with us for free and we will help you to make it known so other people can give it the value it is worth!</p>
        <a href="#" class="button button-main">Sign Up</a>
      </div>
      <div class="image">
        <img src="../Imagens/Anna Painting 2.jpg" alt="Foto de pintura feita por Anna Muravska">
      </div>
    </section>
  </body>
</html>
