<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="../Static/styles.css" />
    <title>Welcome to Arthou</title>
  </head>
  <body>
    <header class="header-flex" id="header">
      <nav class="container-nav">
        <div class="container-1-logo">
          <a href="#"><span>Ar</span>thou 
            <span class="brush"><ion-icon name="brush-outline"></ion-icon></span></a>
          <div class="dropdown-child">
            <a href="#">Explore</a><br>
            <a href="#">New here?</a><br>
            <a href="#">About us</a>
          </div>
       
        </div>
        <div class="container-2">
          <a href="#" id="Arthou-Header-Font">Arthou</a>
          <a href="#">Explore</a>
          <a href="#">New here?</a>
          <a href="#">About Us</a>
        </div>
        <div class="container-3">
          <a href="#">Log in</a>
          <a href="#" class="button">Sing in</a>
        </div>
      </nav>
    </header>

    <section class="section-main">
      <div class="text">
        <h1><span>Arthou</span> does it for you!</h1>
        <p>Share your art with us for free and we will help you to make it known so other people can give it the value it is worth!</p>
        <a href="#" class="button button-main">Sign Up</a>
      </div>
      <div class="image">
        <img src="../Imagens/Anna Painting 2.jpg" alt="Foto de pintura feita por Anna Muravska">
      </div>
    </section>
    <footer class="footer-main">
      <a href="#">Link</a>
      <div class="references">
        <button class="Link-References">Botão</button>
        <ul>
          <li><ah href="#" ></a>Linkos</li>
          <li><ah href="#" ></a>Linkos</li>
          <li><ah href="#" ></a>Linkos</li>
        </ul>
      </div>
      <div class="references2">
        <button class="Link-References2">Botão</button>
        <ul>
          <li><ah href="#" ></a>Linkos</li>
          <li><ah href="#" ></a>Linkos</li>
          <li><ah href="#" ></a>Linkos</li>
        </ul>
      </div>
    
      
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
