<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true" />

  <link rel="stylesheet" href="../Static/styles.css" />
  <title>Thanks for signing up!</title>
</head>
<body>
    <header class="header-flex">
      <nav class="container-nav">
        <div class="container-1-logo">
          <a href="index.html"
            ><span>Ar</span>thou
            <span class="brush"><ion-icon name="brush-outline"></ion-icon></span
          ></a>
          <div class="dropdown-child">
            <a href="#">Explore</a><br />
            <a href="#">New here?</a><br />
            <a href="#">About us</a>
          </div>
        </div>
        <div class="container-2">
          <a href="#" id="Arthou-Header-Font">Arthou</a>
          <a href="#">Explore</a>
          <a href="#">New here?</a>
          <a href="#">About Us</a>
        </div>
        <div class="container-3">
          <a href="#">Log in</a>
          <a href="register.html" class="button">Sing up</a>
        </div>
      </nav>
    </header>

    <!-- SECTION -->

    <section class="section-main">
      <div class="container-signup">
        <div class="image-signup-2">
          <img src="../Imagens/Rokaya Painting 4 cut.jpg" alt="Painting of a woman warrior holding a sword with a waxing crescent moon behind her together with an artistic single eye hovering above her">
        </div>
        <div class="text-signup text-thanks">
          <h2>Thanks for Signing up!</h2>
          <h3>A confirmation email has been sent to you!</h3>
          <br>
        <div>
          <img class="one-red-circle" src="../Imagens/One red circle.png" alt="">
          <div>
          <img class="image-mail" src="../Imagens/mail_sign.png" alt="Image of a mail">
          </div>
        </div>

          <p>Now you can start <span>creating your profile page!</span>
            You can start with a good and expressive description of yourself and your art by clicking <a href="#">here</a>!
          </p>
          
        </div>
        

      </div>
      </div>
      </section>








    
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
</body>
</html>