.text-thanks {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}
.text-thanks h3{
  font-size: 1.125rem;
}
.text-thanks p{
  text-align: center;
  font-size: 1.25rem;
}
.text-thanks p span{
  font-weight: bold;
}
.text-thanks p a{
  color: var(--base-color);
  font-weight: bold;
}
.text-thanks p a:hover{
  color: var(--Arthou-color);
}
.text-thanks h2{
  padding-bottom: 0.50rem;
}

.one-red-circle{
  position: absolute;
  max-width: 1.5625rem;
  max-height: 1.5625rem;
  margin-top: 0.75rem;
  margin-left: 1rem;
  
}

.image-mail{
  min-width: 12rem;
  padding-bottom: 2.25rem;
  padding-top: 1rem;
}

.container-signup{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--Arthou-color);
  width: 65.75rem;
  height: 44.875rem;
  margin-top: 4.1rem;
  border-radius: 0.4125rem;
  box-shadow: 1.8125rem -1.8125rem var(--hue-shadow-img);
}

.image-signup img{
  width: 33.9375rem; /*28.9375rem*/
  height: 44.875rem;
  border-radius: 0.4125rem 0 0 0.4125rem;
}
.text-signup{
  min-width: 31.8125rem;
  height: 44.875rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.03125rem;
  padding-bottom: 4.03125rem;
}
.text-signup h2{
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 3.44rem;
}
.text-signup label{
  font-size: 1.25rem;
}
.text-signup input{
  min-width: 22.5rem;
  min-height: 4rem;
  border-radius: 5px;
  font-size: 1.125rem;
  padding-left: 1rem;
  margin-top: 0.25rem;
  margin-right: 1rem;
}
.text-signup .register-btn{
  margin: 0;
  margin-top: 2.6875rem;  
  background-color: black;
  color: white;
}
.register-btn:hover {
  background-color: var(--base-color);
  color: var(--Arthou-color);
  cursor: pointer;
}

.register-btn value{
  font-size: 2.25rem;
  padding-left: 0;
}
