<section class="section-main">
  <div class="container-signup">
    <div class="image-signup">
      <img src="assets/img/Anna Painting 1.jpg" alt="Painting of a young girl holding a babe and a mug">
    </div>
    <div class="text-signup">
      <!-- <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
      <h2>Sign up for free!</h2>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="John Johnson" ngModel><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="your@email.com" ngModel><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="*****" ngModel><br><br>

        <label for="social_name">Social Name:</label><br>
        <input type="text" id="social_name" name="social_name" placeholder="Jonny 'The Big' Johnson" ngModel><br><br>

        <input class="button register-btn" type="submit" value="Start the Free Trial" (click)="navigateToProductCreate()"> -->

        <form *ngIf="!registered">
          <h2>Sign up for free!</h2>
    
            <label for="name">Name:</label><br>
            <input type="text" id="name" [(ngModel)]="register.name" name="name" placeholder="John Johnson" ><br>
    
            <label for="email">Email:</label><br>
            <input type="email" id="email" [(ngModel)]="register.email" name="email" placeholder="your@email.com"><br><br>
    
            <label for="password">Password:</label><br>
            <input type="password" id="password" [(ngModel)]="register.password" name="password" placeholder="*****" ><br><br>
    
            <label for="social_name">Social Name:</label><br>
            <input type="text" id="social_name" [(ngModel)]="register.social_name" name="social_name" placeholder="Jonny 'The Big' Johnson" ><br><br>
    
            <input class="button register-btn" type="submit" value="Start the Free Trial" (click)="createRegister()">
        <!-- <input class="button register-btn" type="submit" value="Start the Free Trial"> -->
      </form>

      <div *ngIf="registered" class="text-signup text-thanks">
        <h2>Thanks for Signing up!</h2>
        <h3>A confirmation email has been sent to you!</h3>
        <br>
      <div>
        <img class="one-red-circle" src="assets/img/Oneredcircle.png" alt="Red notification circle">
        <div>
        <img class="image-mail" src="assets/img/mail_sign.png" alt="Image of a mail">
        </div>
      </div>

        <p>Now you can start <span>creating your profile page!</span>
          You can start with a good and expressive description of yourself and your art by clicking <a href="#">here</a>!
        </p>
        
      </div> 
    </div>

    </div>
  </section>