<section class="section-main" >
  <div class="container-signup"  >
    <div class="text-signup"  >
        <div class="header" >
          <h1><span>Ar</span>thou</h1>
        </div>
        <form id="blur2">
          <h2>Log in to Your Account</h2>
    
            <label for="name"></label><br>
            <input type="text" id="name" placeholder="E-mail or Username or Phone Number" ><br>
    
            <label for="email"></label><br>
            <input type="email" id="email" placeholder="Password"><br><a>Forgot password?</a><br>
            
    
            <input class="button register-btn" type="submit" value="Log in"  >

            
          
      
        </form>
        
        <div class="icons">
          <a href=""><ion-icon class="icon icon1" name="logo-facebook"></ion-icon></a>
          <a href=""><ion-icon class="icon icon2" name="logo-instagram"></ion-icon></a>
          <a href=""><ion-icon class="icon icon3" name="logo-twitter"></ion-icon></a>
        </div>

        <div class="loginFooter">
          <span>Need an account?</span>
          <a routerLink="/register">Sign Up!</a>
        </div>
      </div> 
    </div>
  </section>