
.container-signup{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--Arthou-color);
  width: 33.6875rem;
  height: 44.875rem;
  margin-top: 4.1rem;
  border-radius: 0 0 0.4125rem 0.4125rem;
  
}
.container-signup #blur2{
  filter: blur(0px);
  /* pointer-events: none;
  user-select: none; */
}

.container-signup #blur2.inactive{
  filter: blur(2px);
  /* pointer-events: none;
  user-select: none; */
}


.text-signup .header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  width: 33.69rem;
  position: absolute;
  text-align: center;
  top: 0;
  background-color: var(--base-color) ;
  color: white;
}
.text-signup .header span{
  color: var(--Arthou-color);
}

.text-signup form{
  margin-top: 5rem;
}

.icons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons a{
  color: black;
}
.icons a:hover{
  
  color: var(--base-color);
}

.icons a .icon{
  padding-top: 1.5rem;
  height: 2.68rem;
  width: 2.68rem;
}
.icons a .icon1, .icon2{
  margin-right: 1.4375rem;
}

.loginFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3.25rem;
}
.loginFooter span{
  font-size: 1.125rem;
  opacity: 0.50;
}

.loginFooter a{
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: blue;
  margin-bottom: 3px;
  padding: 0;
}
.loginFooter a:hover{
  color:  var(--base-color);
  cursor: pointer;
}
.text-signup{
  font-family: 'Roboto', sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.03125rem;
  padding-bottom: 4.03125rem;
}
.text-signup h2{
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 1rem;
}

.text-signup input{
  min-width: 22.5rem;
  min-height: 4rem;
  border-radius: 5px;
  font-size: 1.125rem;
  padding-left: 1rem;
  margin-top: 0.50rem;
  margin-bottom: 0.50rem;
  font-style: italic;
}
.text-signup form a{
  color: blue;
  padding-left: 14rem;
}
.text-signup form a:hover{
  color:  var(--base-color);
  cursor: pointer;
}

.text-signup .register-btn{
  margin: 0;
  margin-top: 2.6875rem;  
  background-color: black;
  color: white;
  font-style: normal;
  border: none;
}
.text-signup .register-btn:hover {
  background-color: var(--base-color);
  color: var(--Arthou-color);
  cursor: pointer;
}

