/*====  FONTS ============================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 23;
  --hue-arthou: 35;
  --hue-main: 34;
  --hue-shadow: 34;
  --base-color: hsl(var(--hue) 63% 27%);
  --Arthou-color: hsl(var(--hue-arthou) 88% 71%);
  --hue-main-bg: hsl(var(--hue-main) 71% 53%);
  --hue-shadow-img: hsl(var(--hue-shadow) 70% 39%);
}

/*====  BASE ============================ */
h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

#Arthou-Header-Font {
  color: var(--Arthou-color);
  font-size: 1.5rem;
  margin-left: 0;
  font-weight: bold;
}

.button {
  display: inline-flex;
  height: 3.44rem;
  width: 8.75rem;
  align-items: center;
  justify-content: center;
  margin-left: 1.125rem;
  border-radius: 0.25rem;
  border: 2px solid black;
  border-radius: 0.25rem;
}

/*====  LAYOUT ============================ */
.header-flex {
  background-color: var(--base-color);
  height: 5.5rem;
}

.container-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 2.5rem;
  height: 5.5rem;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}
.container-1-logo {
  flex-basis: 23.66rem;
  font-size: 1.5rem;
  font: 700 1.875rem 'Poppins', sans-serif;
}
.container-1-logo span {
  color: var(--Arthou-color);
}
.container-2 {
  flex-basis: 34.75rem;
  text-align: center;
}
.container-2 a {
  color: white;
}
.container-2 a:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 4.375rem;
}
.container-3 {
  flex-basis: 26.44rem;
  text-align: right;
}

/*==== HOME BODY ============================ */
.section-main{
  height: 100vh;
  margin: 0;
  background-color: var(--hue-main-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-main .image{
  flex-basis: 3;
  width: 32.94rem;
  height: 35.8125rem;
  margin-top: 7.56rem;
  margin-left: 5.1rem;
  z-index: 100;
}
.section-main .image::before {
  content: '';
  width: 32.94rem;
  height: 35.8125rem;
  background: var(--hue-shadow-img);
  position: absolute;
  margin-top: -2.94rem;
  margin-left:3.62rem ;
  border-radius: .625rem;
  z-index: -1;
}

.section-main .image img{
  width: 32.94rem;
  height: 35.8125rem;
  border-radius: .625rem;
  z-index: 100;
}
.section-main .text{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 10.75rem;
  margin-right: 5.1rem;
 
  
}
.text{
  font-family: 'Roboto', sans-serif;
  flex-basis: 26.38rem;
  height: 23.20rem;
}
.text h1{
  font-size: 3.5rem;
}
.text p{
  font-size: 1.25rem;
  text-align: left;
  line-height: 140%;
  
}
.text span{
  color: var(--Arthou-color);
}
.section-main .text .button-main{
  background-color: var(--base-color);
  width: 13.56rem;
  font-size: 1.3rem;
}

.image{
  flex-basis: 25rem;
}