/*====  FONTS ============================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*====  RESET ============================ */
html { 
  font-size:100%; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}



/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 23;
  --hue-arthou: 35;
  --hue-main: 34;
  --hue-shadow: 34;
  --base-color: hsl(var(--hue) 63% 27%);
  --Arthou-color: hsl(var(--hue-arthou) 88% 71%);
  --hue-main-bg: hsl(var(--hue-main) 71% 53%);
  --hue-shadow-img: hsl(var(--hue-shadow) 70% 39%);
}

/*====  BASE ============================ */
h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

#Arthou-Header-Font {
  color: var(--Arthou-color);
  
  margin-left: 0;
  font-weight: bold;
}
#brush{
  display:none;

}

.button {
  display: inline-flex;
  height: 3.44rem;
  width: 8.75rem;
  align-items: center;
  justify-content: center;
  margin-left: 1.125rem;
  border-radius: 0.25rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  
}

/*====  LAYOUT ============================ */
.header-flex {
  background-color: var(--base-color);
  height: 5.5rem;
}

.container-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 2.5rem;
  height: 5.5rem;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}
.container-1-logo {
  flex-basis: 23.66rem;
  font-size: 1.5rem;
  font: 700 1.875rem 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
}
.container-1-logo span {
  color: var(--Arthou-color);
  cursor: pointer;
}
.brush{
  display: none;
}

.dropdown-child{
  padding: 10px;
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  display: none;
  background-color: var(--base-color);
  text-align: center;
  border: 2px solid #F5F5F5;
}
.dropdown-child a{
  font-size: 1.5rem;
  display: block;
  line-height: 3rem;
  border-radius: 10px;
}
.dropdown-child a:hover{
  background-color: hsl(var(--hue-shadow) 70% 39%);
}

.container-2 {
  flex-basis: 34.75rem;
  text-align: center;
}
.container-2 a {
  color: white;
}
.container-2 a:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 4.375rem;
}
.container-3 {
  flex-basis: 26.44rem;
  text-align: right;
}

/*==== HOME BODY ============================ */
.section-main{
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: var(--hue-main-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-main .image{
  
  margin-top: 7.56rem;
  margin-left: 5.1rem;
  z-index: 100;
}
.section-main .image::before {
  content: '';
  display: block;
  width: 32.94rem;
  height: 35.8125rem;
  background: var(--hue-shadow-img);
  position: absolute;
  margin-top: -2.94rem;
  margin-left:3.62rem ;
  border-radius: .625rem;
  z-index: -1;
}

.section-main .image img{
  display: block;
  width: 32.94rem;
  height: 35.8125rem;
  border-radius: .625rem;
  z-index: 100;
}
.section-main .text{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 10.75rem;
  margin-right: 5.1rem;
}
.text{
  font-family: 'Roboto', sans-serif;
  flex-basis: 26.38rem;
  height: 23.20rem;
}
.text h1{
  font-size: 3.5rem;
}
.text p{
  font-size: 1.25rem;
  text-align: left;
  line-height: 140%;
  
}
.text span{
  color: var(--Arthou-color);
}
.section-main .text .button-main{
  background-color: var(--base-color);
  width: 13.56rem;
  font-size: 1.3rem;
}

.footer-main{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 1%;
}
.footer-main a, li{
  list-style: none;
  color: white;
}
.references{

}
.Link-References{

}



/*Fazer MEDIA queries para todo o código*/
@media only screen and (max-width: 1480px){ 
  /*====  LAYOUT ============================ */
  .container-2 {
    display: none;
  }
  .container-2 a {
    display: none;
  }
  /*==== HOME BODY ============================ */
  .section-main .image::before {
    content: '';
    display: block;
    width: 25rem;
    height: 30rem;
    margin-top: -1.94rem;
    margin-left:2rem;
  }
  .section-main .image img{
    display: block;
    width: 25rem;
    height: 30rem;
    margin-right: 5rem;
  }
  .section-main .text{
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .text p{
    font-size: 1.5rem;
  }

  .brush{
    display: inline-block;
  }
  .container-1-logo:hover .brush{

    animation: in 2s;
    width: 100px;
    transform: rotate(498deg);
    transition: transform 1.5s, width 1.5s;
  }
  .container-1-logo .brush{
    animation: out 1s;
    width: 100px;
  }
  @keyframes out {
    0%   { -webkit-transform: rotate(498deg); }
    100% { -webkit-transform: rotate(0deg); }
}
  .container-1-logo:hover .dropdown-child{
    display: block;
  }
}

/* QUEBRA EM 1100  */